<div class="container">
  <div class="row">
    <%= render '/users/sidebar', book: @book_s, user: @user_s %>
    <div class="col-lg-8 offset-md-1">
      <h2 class="mt-4 pb-2 border-bottom border-secondary">Book detail</h2>
      <table class="w-100">
        <tr>
          <td>
            <%= link_to user_path(@book.user.id) do %>
              <%= attachment_image_tag @book.user, :profile_image, fallback: "no_image.jpg", size: "30x30" %><br/>
              <%= @book.user.name %>
            <% end %>
          </td>
          <td><%= @book.title %></td>
          <td><%= @book.body %></td>
          <% if current_user.id == @book.user.id %>
            <td><%= link_to "edit", edit_book_path(@book.id), class: "btn btn-success" %></td>
            <td><%= link_to "destroy", book_path(@book.id), method: :delete, class: "btn btn-danger" %></td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>


